

/* ==========================================================================
   Estilos index
   ========================================================================== */

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

body{
	background-color: #37474f;
	font-family: 'Roboto', sans-serif;
}

hr{
	border-color:#546e7a;
}

footer{
	color: #fff;
}

td{
	font-weight: 300;
}

p{
	margin: 0;
	padding: 0;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

.fr-container{
	padding: 0;
}

.header{
	background-color:#943634;
	border: 1px solid black;
	height: auto;
	padding: 10px;
}

.header>#header-title{
	padding: 0;
	margin:0;
	text-align: center;
	color:#fff;
	font-size:18px;
	font-weight: 900;
}

.bLeft-container{
	height: auto;
	background: #c7d9f1;
	border: 1px solid black;
	padding-bottom: 1em;
}

.sRight-container{
	height: 798px;
	background: #c7d9f1;
	border: 1px solid black;
}

.process{
	background-color: #fff;
	border: 1px solid black;
	border-radius: 4px;
	color: black;
	height: auto;
	margin-left: 7px;
	margin-right: 7px;
	min-height: 70px;
	padding: 9px;
	font-style: italic;
	font-weight: 300;
}

.process:hover, .tr-process:hover{
	background-color: #607d8b;
	color:white;
	font-weight: 500;
	cursor:pointer;
}

.process>p{
	font-size: 12px;
}

.right-process{
	margin-top: 2em;
	margin-left: 0;
	margin-right: 0;
	text-align: center;

}

.sr-container{
	border:1px solid black;
	background-color: #c2d698;
	height: auto;
	margin-top: 1em;
	padding-bottom: 1em;
	opacity: 0;

}

.tr-container{
	border: 1px solid black;
	background-color: #95b3d7;
	padding: 0;
	padding-top: 7px;
	padding-bottom: 7px; 
	margin-bottom: 1em;
}

.tr-sub{
	padding: 0;
}

.tr-sub-b{
	padding: 0;
	margin-top: 1em;
}

.tr-process{
	background-color: #fff;
	border: 1px solid black;
	border-radius: 4px;
	color: black;
	height: 90px;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 70px;
	padding: 7px;
	font-style: italic;
	font-weight: 300;
}

.tr-process:hover{
	background: #607d8b !important;
}

.tr-process>p{
	font-size: 12px;
}


.fr-title{
	font-size: 12px;
	font-weight: 700;
}

.fr-title-right{
	font-size: 12px;
	font-weight: bold;
	margin-top: 7em;
	text-align: center;
}

.fr-title-2{
	font-size: 12px;
	font-weight: bold;
	margin-top: 0;
}

.frow{
	opacity: 0;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: 1000px;
  height: 600px;
  overflow-y: scroll;
  margin: 20px auto;
}

.sRight-container{
	opacity: 0;
}

.practices-id{
	font-weight: 500;
}

.p-title{
	text-align: center;
	font-weight: 700;
	margin-bottom: 2em;
}

.p-subtitle{
	font-weight: 500;
}

.p-desc{
	font-weight: 300;
	margin-bottom: 2em;
}

#firstBlue, #secondBlue, #thirdBlue, #fourBlue{
	opacity: 0;
}

#fTitle{
	opacity: 0;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}











